<mat-card class="product" *ngFor="let product of products; index as i" [class.OnSale]="product.OnSale">
  <img mat-card-image [src]="product.ImageURL">
  <div class="container">
    <mat-card-content>
      <h1 class="Name">{{product.Name}}</h1>
      <h2 class="price">{{product.Price}} €</h2>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="decrease(i)" [disabled]="product.InCart < 1">-</button>
      <!--<input value="{{product.InCart}}">-->
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <mat-select>
          <mat-option *ngFor="let qty of quantities" [value]="qty">
            {{qty}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="increase(i)">+</button>
    </mat-card-actions>
  </div>
</mat-card>
